{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
<div class="row no-border no-padding-top">
    <div class="four columns">
        <form id="petitionForm">
            <div class="row" style="text-align:center">
                <label for="nameField" style="text-align:left">Name</label>
                <input class="u-full-width" type="text" id="nameField" name="name" required>

                <label for="emailField" style="text-align:left">Email</label>
                <input class="u-full-width" type="email" id="emailField" name="emailField" required>

                <label for="typeField" style="text-align:left">You are an</label>
                <select class="u-full-width" id="typeField">
                    <option value="individual">Individual</option>
                    <option value="organization">Organization</option>
                </select>

                <label for="organizationField" style="text-align:left">Organization (if applicable)</label>
                <input class="u-full-width" type="text" id="organizationField">
                <button type="submit" class="button button-brown" id="submitButton">Sign the petition</button>
                <p style="display:none; color:green;" id="successMessage">Thank you for signing!</p>
                <p style="display:none; color:red;" id="errorMessage">Something went wrong!</p>
                
                <br />

                <small><a href="/petition" target="_blank">Read the petition</a> | <a href="https://internetfreedom.in/privacy-policy/" target="_blank">Privacy Policy</a></small>

            </div>

        </form>

    </div>
    <div class="eight columns">
        <h5>#SaveTheInternet again, February 8, 2019</h5>
        <p>The SaveTheInternet.in movement resulted in a massive public victory for net neutrality in India. This
            resulted in legal rules which now require internet service providers and telecoms companies to treat all
            data equally. But these rules are being violated. What is worse, no system exists for their enforcement. So
            what good is a victory if we cannot enjoy it?</p>
        <p>By the Take Action Petition we call on people and organisations to support a list of joint demands to the
            relevant government offices. This will help us protect net neutrality and #SaveTheInternet again. </p>
        <p>We also call on people to submit reports of any net neutrality violations to us. Based on this data we will
            take all possible steps including making formal complaints. </p>
        <div class="row" style="text-align:center">
                <a class="button button-brown" href="/petition">Read the petition</a>
                <a class="button" href="/report">Report a Net Neutrality violation</a>
        </div>

    </div>
</div>
{{/is}}